In [1]:
import pandas as pd

data = pd.read_csv("students.csv")

print("Student Dataset:")
print(data)

data["Average"] = data[["Subject1", "Subject2", "Subject3"]].mean(axis=1)

highest_marks = data[["Subject1", "Subject2", "Subject3"]].max().max()
lowest_marks = data[["Subject1", "Subject2", "Subject3"]].min().min()

top_student = data.loc[data["Average"].idxmax()]

print("\n Analysis Results:")
print(data)

print("\n Highest Marks:", highest_marks)
print(" Lowest Marks:", lowest_marks)

print("\n Top Scoring Student:")
print("Name:", top_student["Student Name"])
print("Average Marks:", top_student["Average"])

Student Dataset:
  Student Name  Subject1  Subject2  Subject3
0     Hemanshi        85        90        88
1       Nirali        78        82        80
2        Mahek        92        95        94
3     Devanshi        70        75        72
4        Priya        88        84        86

 Analysis Results:
  Student Name  Subject1  Subject2  Subject3    Average
0     Hemanshi        85        90        88  87.666667
1       Nirali        78        82        80  80.000000
2        Mahek        92        95        94  93.666667
3     Devanshi        70        75        72  72.333333
4        Priya        88        84        86  86.000000

 Highest Marks: 95
 Lowest Marks: 70

 Top Scoring Student:
Name: Mahek
Average Marks: 93.66666666666667